* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  z-index: -1;
}

canvas {
  position: absolute;
  height: 95%;
  border: 2px solid white;
  box-shadow: 0 0 20px white;
  z-index: -1;
  animation-name: canvasOpening;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.hacker {
animation-name: hacker;
animation-duration: 1.5s;
animation-iteration-count: infinite;

}

h1 {
  text-align: center;
}

.disappear {
  display: none;
}

.scores {
  text-align: center;
  display: inline-block;
  margin: 20px auto;
  width: 20%;
}

#menu {
  width: 500px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

#playBTN {
  padding: 5px 50px;
}

#resetScoresBTN {
  padding: 5px;
  margin: 5px 0 0 0;
}

.BTN {
  margin: 0 auto;
  display: block;
  background-color: black;
  color: white;
  transition: all 0.5s;
  border: 1px solid white;
}

.BTN:hover {
  background-color: white;
  color: black;
}

#options{
  display: inline-block;
  text-align: center;
  width: 55%;
}

#difficulty {
  color: white;
  background-color: black;
  text-align: center;
  box-shadow: none;
  border: 1px solid white;
  padding: 2px;
  margin: 2px auto;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expant {
  display: none;
}

@keyframes canvasOpening {
  from{height: 0; box-shadow: none;}
  to{height: 95%; box-shadow: 0 0 20px white;}
}

@keyframes hacker {
  0%{height: 95%;}
  50%{height: 50%;}
  100%{height: 95%;}
}
