* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  z-index: -1;
  font-size: 1.2em;
}

canvas {
  position: absolute;
  height: 95%;
  border: 2px solid white;
  box-shadow: 0 0 20px white;
  z-index: -1;
  animation-name: canvasOpening;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.hacker {
animation-name: hacker;
animation-duration: 1.5s;
animation-iteration-count: infinite;

}

h1 {
  text-align: center;
}

h5 {
  text-align: center;
}

.disappear {
  display: none;
}

.scores {
  text-align: center;
  display: inline-block;
  margin: 20px auto;
  width: 29.5%;
}

.scoresRight {
  width: 20%;
}

#menu {
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

#playBTN {
  margin: 10px auto;
  padding: 5px 50px;
  font-size: 0.8em;
  animation-name: playBtnAnim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#resetScoresBTN {
  padding: 5px;
  margin: 5px auto 0 auto;
}

.BTN {
  margin: 0 auto;
  display: block;
  background-color: black;
  color: white;
  transition: all 0.5s;
  border: 1px solid white;
}

.BTN:hover {
  background-color: white;
  color: black;
}

#options{
  margin: 20px auto;
  display: inline-block;
  text-align: center;
  width: 40%;

}

#difficulty {
  color: white;
  background-color: black;
  text-align: center;
  box-shadow: none;
  border: 1px solid white;
  font-size: 0.8em;
  padding: 5px;
  margin: 2px auto;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expant {
  display: none;
}

@keyframes canvasOpening {
  from{height: 0; box-shadow: none;}
  to{height: 95%; box-shadow: 0 0 20px white;}
}

@keyframes hacker {
  0%{height: 95%;}
  50%{height: 50%;}
  100%{height: 95%;}
}

@keyframes playBtnAnim {
  0%{transform: scale(1)}
  50%{transform: scale(1.1)}
  100%{transform: scale(1)}
}

#btnContainer {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.arrowBtn {
  background-color: darkgrey;
  text-align: center;
  height: 60px;
  width: 60px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}